<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/checkbox.png` | relURL }}" width="180" height="180" alt="CheckBox">
        <h2 class="h2">Questionaire builder<small class="d-none">🛡️</small></h2>
        <p>Set up flexible question types such as multiple choice, text input, and dropdowns</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/bell3.svg` | relURL }}" width="180" height="180" alt="Reminder">
    
        <h2 class="h2">Automatic reminders<small class="d-none">🚀</small></h2>
        <p>Achieve high response rates by sending automated reminders to collect data</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/ai3.svg` | relURL }}" width="180" height="180" alt="AI Generator">

        <!--<svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>-->
        <h2 class="h2">Survey generator<small class="d-none">📈</small></h2>
        <p>Leverage AI to generate customized survey questions and forms</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Customized branding <small class="d-none">🦉</small></h2>
        <p>Customizable to embody your business identity  </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2"> Versalitle <small class="d-none">✨</small></h2>
        <p>Supports offline data collection for enhanced accessability</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Affordable <small class="d-none">🧰</small></h2>
        <p>We're committed to helping your business thrive with economical solutions</p>
    </div>
</div>
